<div class="container">
	<div class="new_order" ng-controller="customersController">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-2">
					<h3>Customers</h3>

					<h4> Add a new customer</h4>

				<form class="form form-inline">
					<div class="form-group">
					<input type ="text" class="form-control" ng-model="newCustomer.fullname">
					<button class="btn btn-primary" ng-click="createCustomer()">Add</button>
				</div>
				</form>
				<table class="table table-highlight">
					<thead>
						<th>Name</th>
						
					</thead>
					<tbody>
						<tr ng-repeat="customer in customers track by $index">
							<td ng-bind="customer.fullname"></td>

							<td><button class="btn btn-danger" ng-click="destroyCustomer(customer)">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>